.user-managment-container {

  width: 80%;
}

.userDetails {
  display: flex;                /* Use flexbox to arrange items in a row */
  align-items: center;         /* Center items vertically */
  margin-bottom: 20px;         /* Space below the user details */
}

.userImage {
  width: 80px;                 /* Set width for user image */
  height: 80px;                /* Set height for user image */
  border-radius: 50%;          /* Make the image circular */
  margin-right: 15px;          /* Space between image and name */
}

.userInfo {
  text-align: left;            /* Align text to the left */
}

.userName {
  font-size: 24px;             /* Set font size for the user's name */
  font-weight: bold;           /* Bold the name */
  color: #333;                 /* Dark color for the name */
}

.userDetailsText {
  font-size: 14px;             /* Set font size for the username */
  color: #666;                 /* Lighter color for the username */
  margin-top: 5px;             /* Space between name and username */
}

.separator {
  border: none;                /* Remove default border */
  border-top: 1px solid #ddd; /* Add a custom top border */
  margin: 20px 0;             /* Margin above and below the line */
}

